@import '_theme.scss';

body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background-color: rgb(239, 239, 239);
}

.blank::before {
  content: '_____';
}

.blank::after {
  content: '_____';
}

.mat-radio-label-content {
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.mat-horizontal-stepper-header-container {
  display: none !important;
}

.mat-input-element:disabled {
  color: mat-color($md-teg-primary);
  font-style: italic;
}

li {
  margin-bottom: 5px !important;
}

.mat-form-field-infix {
  padding: 0;
  border: none;
}

.container {
  width: 100%;
  margin-top: 1%;
}

.clear {
  clear: both;
}


.letter {
  border: double .1em mat-color($md-teg-primary);
  padding: 1% 1% 1% 1%;
  font-style: italic;
}
