header {
  background-color: #ffffff;
  width: 100%;
  margin-top: -1%;
  padding: 1% 15% 1% 15%;
  div {
    display: inline-flex;
  }
  .heading {
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
  }
}

.page-content {
  background-color: #ffffff;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -.9%;
}
