mat-tab-group {
  padding-bottom: 2%;
}

.start-button {
  float: right;
  margin-top: 1%;
  margin-right: 5%;
  width: 10%;
  height: 60px;
}

.nav-buttons {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
}

.quiz-complete-buttons {
  margin-top: 3%;
  button {
    margin-left: 1%;
    margin-right: 1%;
    width: 10%;
    height: 60px;
  }
}
