@import '../../../styles/_theme';

.message {
  margin: 2% 30%;
  width: 40%;
  border: double .25em mat-color($md-teg-secondary);
  padding: 2%;
  p {
    max-width: 100%;
  }
  a {
    margin-left: 75%;
    margin-right: 2%;
  }
}

.container {
  padding-top: .5%;
  padding-bottom: 5%;
  margin-top: 0px;
}
