@import '../../../styles/theme';

.answer-options {
  margin-top: 1%;
  mat-radio-button {
    margin-left: 1%;
  }
}


.display-h {
  @media only screen and (min-width: 935px) {
    float: left;
    padding-right: 2%;
    margin-right: 1%;
  }
}

.question-number {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  color: mat-color($md-teg-secondary, 700);
}

.fill-in {
  mat-form-field {
    width: 10%;
    min-width: 100px;
    text-align: center;
  }
}
