<div *ngIf="this.data.type === this.questionType.MultipleChoice" fxFlex="100">
  <ol [start]="this.data.sortOrder">
    <li>
      <span>{{ this.data.beforeText }}</span>
      <mat-radio-group [(ngModel)]="this.data.answer.userResponse">
        <ol type="A" class="answer-options">
          <li *ngFor="let o of this.data.answer.options" [class]="o.type === this.optionType.Asset ? 'display-h': 'display-v'">
            <mat-radio-button *ngIf="o.type === this.optionType.Standard" color="primary" [value]="o.value">{{ o.label }}</mat-radio-button>
            <mat-radio-button *ngIf="o.type === this.optionType.Asset" color="primary" [value]="o.value"><img [src]="this.getAssetInfo(o)" ></mat-radio-button>
          </li>
        </ol>
      </mat-radio-group>
    </li>
  </ol>
</div>

<span *ngIf="this.data.type === this.questionType.FillInTheBlank" class="fill-in">
  <span class="before-text" *ngIf="this.data.beforeText">{{ this.data.beforeText }}</span>
  <mat-form-field>
    <input matInput *ngIf="this.data.showAnswer" [disabled]="true" [value]="this.data.answer.value">
    <input matInput *ngIf="!this.data.showAnswer" [(ngModel)]="this.data.answer.userResponse">
  </mat-form-field>
  <span class="after-text" *ngIf="this.data.afterText">{{ this.data.afterText }}</span>
</span>
